extends layout_modal

block content
  div.modal-header 
    button(class='close', onClick="modclose('Close')")
      span(aria-hidden="true") x
    h4.modal-title Edit Job
    
  div(class='modal-body')
    form#f
      input(type="hidden" name="id" value=param.id)
      div.row
        div.col-xs-3
          label(for='name') Name
        div.col-xs-9.pull-right
          input#name.form-control(type='text', placeholder='Give your job a name' name='name' value=param.name)
      br
      div.row
        div.col-xs-3
          label Resource
        div.col-xs-9.pull-right
          select(name='resource', class='selectpicker', data-width='fit')
            each resource in resources
              if resource.id == param.resource_id
                option(value=resource.id, selected)=resource.name
              else
                option(value=resource.id)=resource.name
      br
      div.row
        div.col-xs-3
          label Start every
        div.col-xs-9
          - var DOW = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
          - for( var idx = 0; idx < DOW.length; ++idx ) {
            - var check = false;
            - var text = DOW[idx];
            - if ( param.start_dow.indexOf(idx) > -1 ) {
            -   check = true;
            - } 
            - if (check == true) {
              label(for="checkbox").check-inline
              input(name='start_dow',type="checkbox",value=idx, checked=true)
              | #{DOW[idx]} &nbsp
            - } else {
              label(for="checkbox").check-inline
              input(name='start_dow',type="checkbox",value=idx)
              | #{DOW[idx]} &nbsp
            - }
          - };
      br
      div.row
        div.col-xs-3
          label Start Time
        div.col-xs-9.pull-right
          select(name='start_hr', class='selectpicker', data-width='fit')
            - for (var i=0; i < 24; ++i)
                if i < 10
                  if i == param.start_hr
                    option(value=i, selected)="0"+i
                  else
                      option(value=i)="0"+i
                else
                  if i == param.start_hr
                    option(value=i, selected)=i
                  else
                    option(value=i)=i
          label Hr :
          select(name='start_min', class='selectpicker', data-width='fit')
            - for (var i=0; i < 60; ++i)
                if i < 10
                  if i == param.start_min
                    option(value=i, selected)="0"+i
                  else
                    option(value=i)="0"+i
                else
                  if i == param.start_min
                    option(value=i, selected)=i
                  else
                    option(value=i)=i
          label Min
      br
      div.row
        div.col-xs-3
          label Run for
        div.col-xs-9.pull-right
          select(name='duration_hr',class='selectpicker', data-width='fit')
            - for (var i=0; i < 24; ++i)
                if i < 10
                  if i == param.duration_hr
                    option(value=i, selected)="0"+i
                  else
                    option(value=i)="0"+i
                else
                  if i == param.duration_hr
                    option(value=i, selected)=i
                  else
                    option(value=i)=i
          label Hr(s) :
          select(name='duration_min',class='selectpicker', data-width='fit')
            - for (var i=0; i < 60; ++i)
                if i < 10
                  if i == param.duration_min
                    option(value=i, selected)="0"+i
                  else
                    option(value=i)="0"+i
                else
                  if i == param.duration_min
                    option(value=i, selected)=i
                  else
                    option(value=i)=i
          label Min(s)
      br
      div.row
        div.col-xs-3
          label(for='name') On start, run
        div.col-xs-9.pull-right
          textarea#start_cmd.form-control(rows=2 placeholder='Enter your command' name='start_cmd')=param.start_cmd
      br
      div.row
        div.col-xs-3
          label(for='name') On end, run
        div.col-xs-9.pull-right
          textarea#end_cmd.form-control(rows=2 placeholder='Enter your command' name='end_cmd')=param.end_cmd
      
      input.btn.btn-primary(type='submit',value='Submit')