doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-select/bootstrap-select.min.css')
    script(src='/javascripts/jquery-1.12.2.min.js')
    script(src='/javascripts/daypilot/daypilot-all.min.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')
    script(src='/javascripts/bootstrap-select/bootstrap-select.min.js')
    script(type='text/javascript').
      function modclose(result) { DayPilot.Modal.close(result); }
  body
    div.modal-header 
      button(class='close', onClick="modclose('Close')")
        span(aria-hidden="true") x
      h4.modal-title Weekly Job
      
    div(class='modal-body')
      form(method='POST' action='/addjob')
        div.row
          div.col-xs-3
            label(for='name') Name
          div.col-xs-9.pull-right
            input#name.form-control(type='text', placeholder='Give your job a name' name='name')
        br
        div.row
          div.col-xs-3
            label Resource
          div.col-xs-9.pull-right
            select(name='resource', class='selectpicker', data-width='fit')
              each resource in resources
                if resource.name == param.target_res
                  option(value=resource.name, selected)=resource.name
                else
                  option(value=resource.name)=resource.name
        br
        div.row
          div.col-xs-3
            label Start Time (Hrs:Mins)
          div.col-xs-9.pull-right
            select(name='start_hr', class='selectpicker', data-width='fit')
              - for (var i=0; i < 24; ++i)
                  if i < 10
                    if i == param.start_hr
                      option(value=i, selected)="0"+i
                    else
                       option(value=i)="0"+i
                  else
                    if i == param.start_hr
                      option(value=i, selected)=i
                    else
                       option(value=i)=i
            label :
            select(name='start_min', class='selectpicker', data-width='fit')
              - for (var i=0; i < 60; ++i)
                  if i < 10
                    if i == param.start_min
                      option(value=i, selected)="0"+i
                    else
                      ption(value=i)="0"+i
                  else
                    if i == param.start_min
                      option(value=i, selected)=i
                    else
                       option(value=i)=i
        br
        div.row
          div.col-xs-3
            label Day of Week
          div.col-xs-9
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="1",checked=(param.start_dow===1 ? "checked" : undefined) )
                |  Mon &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="2",checked=(param.start_dow===2 ? "checked" : undefined))
                |  Tue &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="3",checked=(param.start_dow===3 ? "checked" : undefined))
                |  Wed &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="4",checked=(param.start_dow===4 ? "checked" : undefined))
                |  Thu &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="5",checked=(param.start_dow===5 ? "checked" : undefined))
                |  Fri &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="6",checked=(param.start_dow===6 ? "checked" : undefined))
                |  Sat &nbsp;
              label(for="checkbox").check-inline
                input(name='start_dow',type="checkbox",value="0",checked=(param.start_dow===0 ? "checked" : undefined))
                |  Sun
            
        br
        div.row
          div.col-xs-3
            label(for='name') On start, run
          div.col-xs-9.pull-right
            input#start_cmd.form-control(type='text', placeholder='Enter your command' name='start_cmd')
        br
        div.row
          div.col-xs-3
            label End Time (Hrs:Mins)
          div.col-xs-9.pull-right
            select(name='end_hr',class='selectpicker', data-width='fit')
              - for (var i=0; i < 24; ++i)
                  if i < 10
                    if i == param.end_hr
                      option(value=i, selected)="0"+i
                    else
                       option(value=i)="0"+i
                  else
                    if i == param.end_hr
                      option(value=i, selected)=i
                    else
                       option(value=i)=i
            label :
            select(name='end_min',class='selectpicker', data-width='fit')
              - for (var i=0; i < 60; ++i)
                  if i < 10
                    if i == param.end_min
                      option(value=i, selected)="0"+i
                    else
                      ption(value=i)="0"+i
                  else
                    if i == param.end_min
                      option(value=i, selected)=i
                    else
                       option(value=i)=i
        br
        div.row
          div.col-xs-3
            label Day of Week
          div.col-xs-9
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="1", checked=(param.end_dow===1 ? "checked" : undefined))
                |  Mon &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="2", checked=(param.end_dow===2 ? "checked" : undefined))
                |  Tue &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="3", checked=(param.end_dow===3 ? "checked" : undefined))
                |  Wed &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="4", checked=(param.end_dow===4 ? "checked" : undefined))
                |  Thu &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="5", checked=(param.end_dow===5 ? "checked" : undefined))
                |  Fri &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="6", checked=(param.end_dow===6 ? "checked" : undefined))
                |  Sat &nbsp;
              label(for="checkbox").check-inline
                input(name='end_dow',type="checkbox",value="0", checked=(param.end_dow===0 ? "checked" : undefined))
                |  Sun
            
        br
        div.row
          div.col-xs-3
            label(for='name') On end, run
          div.col-xs-9.pull-right
            input#end_cmd.form-control(type='text', placeholder='Enter your command' name='end_cmd')

        button.btn.btn-primary(type='submit') Submit